<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" f:preserve="true"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" core:preserve="true"
      data-namespace-typo3-fluid="true">

<tr>
    <td class="col-icon"></td>
    <td class="col-title">{index.name}</td>
    <td class="col-total">{index.total.docs.count}</td>
    <td class="col-control">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{f:uri.action(action: 'findByQuery', controller: 'Module\Index', arguments: '{index: index.name}')}">
                <core:icon identifier="actions-search"/>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-warning t3js-modal-trigger"
               href="{f:uri.action(action: 'flushIndex', controller: 'Module\Index', arguments: '{index: index.name}')}"
               data-severity="error"
               data-title="{f:translate(key: 'flush_index_title', extensionName: 'MySearchCrawler')}"
               data-button-ok-text="{f:translate(key: 'flush_index_confirm', extensionName: 'MySearchCrawler')}"
               data-button-close-text="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_common.xlf:cancel')}"
               data-content="{f:translate(key: 'flush_index_description', arguments: '{0: index.name}', extensionName: 'MySearchCrawler')}">
                <core:icon identifier="actions-edit-delete"/>
            </a>
        </div>
    </td>
</tr>
